<style>
h2 {
  color: white;
  background-color: black;
  font-family: helvetica;
  margin: 0px 10px 0px 10px;
}

p {
  color: #333333;
  font-family: helvetica;
}

header {
  background: black;
  color: white;
  margin: 0px 10px 10px 0 px;
}
</style>
